body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

table {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  font-family: "Outfit", sans-serif;
  box-shadow: 2px 2px 12px hsl(220, 15%, 55%);
}

.qr-code-img {
  border-radius: 1.5rem;
  width: 17.2rem;
  padding: 0.9rem;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

p {
  font-size: 0.9375rem;
  color: hsl(220, 15%, 55%);
  margin-top: 0;
  margin-bottom: 1.75rem;
}

a {
  color: hsl(228, 45%, 44%);
}

.attribution {
  font-size: 0.7rem;
  padding: 0.625rem;
}
